@import '~leaflet/dist/leaflet.css';
@import '~react-leaflet-markercluster/dist/styles.min.css';
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.map {
  height: 100%;
}

.message-form {
  z-index: 999;
  position: absolute;
  top: 100px;
  right: 10px;
  background-color: #fff;
}

.message-form-two {
  z-index: 999;
  position: absolute;
  top: 100px;
  right: 150px;
  background-color: #fff;
}

.message-form-three {
  z-index: 999;
  position: absolute;
  right: 15%;
  top: 15px;
  background-color: #fff;
  font-style: italic;
  font-size: 26px;
  font-family: Roboto;
  height: auto;
}

.video {
  height: auto;
  min-width: 10%;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto;
}
.nav-link .nav:hover {
  color: red;
}

.nav-vl a:hover{
  color: red;
}

.basemaps-container {
  position: absolute;
  top: 3%;
  right: 20%;
  z-index: 1000;
  border-radius: 20px;
}

.button-widget {
  position: fixed;
  top: 120px;
  right: 20px;
  z-index: 1000;
}


.geojson-toggle{
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 1000;
  margin-top: 20px;
  background: white;
  font-size: 14px;
  padding: 4px;
  border-radius: 3px;
}

.message-name {
  font-weight: bold;
  font-family: Roboto;
}

.leaflet-popup-content {
  background-color: #ffffff;
  color: black;
}

.class {
  position: relative;
}